body{
  font-family: sans-serif;
  text-transform: full-width;
  background-color: #a9ff8a;
  color: black;
  margin: 0;
  padding: 0;
}

h3{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  line-height: inherit;
  color: black;
}  
table, th, td{
  border: 2px solid black ;
  }
  header{
    padding: 10px;
    text-align: center;
    background-color: #8ab7ff;
  }
  nav{
    position:absolute;
    float: left;
    width: 20%;
    background-color: #dcff8a;
    height: 85%;
  }
  nav ul{
    list-style-type: none;
    padding: 10px;
    margin: 0;
  }
  nav li {
    padding: 5px;
  }
  nav li:hover{
    background-color: #dcff8a;
  }
  section{
    position:absolute;
    padding: 10px;
    margin-left: 20%;
    width: 80%;
    background-color: #ff9e8a;
    height:85%;

  }
  footer{
    position: fixed;
    /* float: left; */
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #e08aff;
    bottom: 0px;
  }
  *{
    box-sizing: border-box;
  }
